/ApiClient/Pods
/ApiClient/ApiClient.xcworkspace/xcuserdata/
/ApiClient/Tests/API.plist
*.xcbkptlist
*.xcuserstate
ApiClient/ApiClient.xcodeproj/project.xcworkspace/xcuserdata/edhoru.xcuserdatad/UserInterfaceState.xcuserstate
